{% extends "main/main.html" %}

{%  block container %}

  <div class='row' >

      <div class="col-md-12" >

       <div class="col-sm-4">
      <h3>Column 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>

    <div class="col-md-12" >
      <!--all_authors-->
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Author Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
         {% if all_authors %}
          
          {% for author in all_authors %}
          <tr>
            <td>{{author.author_name}}</td>
            <td>{{author.author_email}}</td>
            <td>{{author.author_phone}}</td>

            <td>
              <a href="view/{{ author.id }}"> View </a>
              <a href="edit/{{ author.id }}"> Edit</a>
              <a href="author_delete/{{ author.id }}"> Delete</a>

            </td>

          </tr>

          {% endfor %}

         {% endif %}
        </tbody>
   </table>

    </div>

  </div>

  {% endblock %}
